---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 1280px;

@import "minima";

.home {
  display: flex;
  justify-content: space-between;

  @include media-query($on-palm) {
    display: block;
  }
}

.formContainer {
  min-width: 420px;

  form {
    margin-bottom: 20px;

    > div {
      label {
        display: inline-block;
        width: 250px;
      }
    }

    input[type=submit] {
      margin-top: 10px;
    }
  }

  .stoneInfo {
    border: 5px solid #aaa;
    background-color: #ccc;
    padding: 5px;

    > div {
      width: 400px;
      border-bottom: 1px solid #aaa;
      margin-bottom: 10px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }

      h5 {
        display: inline-block;
        width: 240px;
        font-weight: 600;
      }

      > div {
        width: 155px;
        display: inline-block;
        font-size: 14px;
      }
    }
  }
}

.drawingContainer {
  flex-grow: 1;
  margin-left: 20px;

  #drawing {
    min-width: 420px;
    max-width: 700px;
    max-height: 700px;
  }
}

@include media-query($on-palm) {
  .drawingContainer {
    flex-grow: 0;
  }
}
