---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  <div class="formContainer">
    <form id="form">
      <div>
        <label for="length">Stone Length (inches)</label>
        <input type="text" id="length" name="length" value="12">
      </div>

      <div>
        <label for="depth">Stone Depth (inches)</label>
        <input type="text" id="depth" name="depth" value="8">
      </div>

      <div>
        <label for="diameter">Circle Diameter (feet)</label>
        <input type="text" id="diameter" name="diameter" value="11">
      </div>

      <div>
        <label for="kerf">Kerf (cut thickness) (inches)</label>
        <input type="text" id="kerf" name="kerf" value="0.125">
      </div>

      <div>
        <label for="removeStones">Remove Stones</label>
        <input type="text" id="removeStones" name="removeStones" value="10">
      </div>

      <input type="submit" value="Update">
    </form>

    <div class="stoneInfo">
      <div>
        <h5>Stone Count</h5>
        <div id="stoneCount"></div>
      </div>

      <div>
        <h5>Cut Lengths</h5>
        <div id="cutLengths">
          <span id="longCut"></span> in. / <span id="shortCut"></span> in.
          <div id="cutLengthsStone"></div>
        </div>
      </div>

      <div>
        <h5>Cut Lengths (kerf removed)</h5>
        <div id="cutLengthsWithKerf">
          <span id="longCutWithKerf"></span> in. / <span id="shortCutWithKerf"></span> in.
          <div id="cutLengthsWithKerfStone"></div>
        </div>
      </div>

      <div>
        <h5>Full Trapezoid Lengths (kerf removed)</h5>
        <div id="sideLengths">
          <span id="longSide"></span> in. / <span id="shortSide"></span> in.
          <div id="sideLengthsStone"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="drawingContainer">
    <div id="drawing" />
  </div>

  <script type="text/javascript">
    syncFormToParameters()
    draw()
  </script>

</div>
