---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  <script>
    function draw() {
      const pi = Math.PI
      const drawing = document.getElementById('drawing')
      const form = document.getElementById('form')
      const length = parseFloat(form.length.value)
      const depth = parseFloat(form.depth.value)
      const diameter = parseFloat(form.diameter.value) * 12.0
      const radius = diameter / 2.0

      const outerCircumference = pi * diameter
      const innerCircumference = pi * (diameter - depth * 2)

      const ratio = innerCircumference / outerCircumference

      const longLength = length / (1 + ratio)
      const shortLength = length - longLength

      const stoneCount = calculateStoneCount(longLength, shortLength, depth)

      const padding = 6

      const viewBox = [
        -padding,
        -padding,
        diameter + padding * 2,
        diameter + padding * 2,
      ].join(' ')

      const stoneSvgs = new Array(stoneCount).fill(undefined).map((_, index) => {
        return buildStoneSvg(
          index,
          longLength,
          shortLength,
          depth,
          radius,
        )
      })

      drawing.innerHTML = [
        `<svg height="600" width="600" style="border: 1px solid black" viewBox="${viewBox}" preserveAspectRatio="none">`,
        buildCircleSvg(radius),
        stoneSvgs.join(''),
        '</svg>'
      ].join('')
    }

    function calculateStoneCount(longLength, shortLength, depth) {
      return Math.floor(360.0 / calculateAnglePerBlock(longLength, shortLength, depth))
    }

    function calculateAnglePerBlock(longLength, shortLength, depth) {
      const angleRadians = Math.atan((longLength - shortLength) / depth) * 2.0

      return angleRadians * 180.0 / Math.PI
    }

    function buildCircleSvg(radius) {
      const style = 'fill:blue; fill-opacity: .75;' // stroke:blue; stroke-width:1;

      return `<circle cx="${radius}" cy="${radius}" r="${radius}" style="${style}" />`
    }

    function buildStoneSvg(stoneIndex, longLength, shortLength, depth, radius) {
      const rotation = stoneIndex * calculateAnglePerBlock(longLength, shortLength, depth)
      const transform = `rotate(${rotation} ${radius} ${radius})`

      return [
        `<g  transform="${transform}">`,
        buildTrapezoidSvg(
          [radius - longLength, 0],
          [radius + longLength, 0],
          [radius + shortLength, depth],
          [radius - shortLength, depth],
        ),
        buildLineSvg(
          [radius, 0],
          [radius, depth],
        ),
        '</g>'
      ].join('')
    }

    function buildLineSvg(point1, point2) {
      return [
        `<line x1="${point1[0]}" y1="${point1[1]}" x2="${point2[0]}" y2="${point2[1]}" style="stroke:black; stroke-width:0.1; stroke-dasharray:1" />`
      ].join('')
    }

    function buildTrapezoidSvg(topLeft, topRight, bottomRight, bottomLeft) {
      return [
        '<polygon points="',
        buildPoint(topLeft),
        buildPoint(topRight),
        buildPoint(bottomRight),
        buildPoint(bottomLeft),
        `" style="fill:red; stroke:black; stroke-width:0.1; fill-opacity: .75" />`
      ].join('')
    }

    function buildPoint(point) {
      return [
        point[0],
        point[1],
      ].join(',') + ' '
    }
  </script>

  <form id="form" onsubmit="draw(); return false">
    <label for="length">Block Length (inches)</label>
    <input type="text" id="length" name="length" value="12">
    <br>
    <label for="depth">Block Depth (inches)</label>
    <input type="text" id="depth" name="depth" value="8">
    <br>
    <label for="diameter">Circle Diameter (feet)</label>
    <input type="text" id="diameter" name="diameter" value="11">
    <br>
    <input type="submit">
  </form>

  <div id="drawing" />

  <script type="text/javascript">draw()</script>

</div>
